// Sticky barter styles
*{
  border-radius: 0 !important;
}
html {
  position: relative;
  min-height: 100%;
  color: @black;
}

body {
  /* Margin bottom by barter height */
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  background-color: white;

  a{
      color: @blue;
  }
}

.barter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the barter here */
  height: 60px;
  text-align: center;
  color: #999;
}
