// Sticky barter styles

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by barter height */
  margin-bottom: 80px;
}

.barter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the barter here */
  height: 60px;
}
