html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by barter height */
  margin-bottom: 80px;
}
.barter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the barter here */
  height: 60px;
}
input[type=checkbox]:checked + .label_hide_if_checked,
input[type=checkbox]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
  display: none;
}
input[type=checkbox]:not(:checked) + .label_hide_if_not_checked,
input[type=checkbox]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
  display: none;
}
.onoff-checkbox {
  width: 15%;
}
.onoffswitch {
  position: relative;
  width: 110px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF !important;
  border-radius: 50px !important;
}
.onoffswitch-inner {
  display: block;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  content: "";
  background-color: #EEEEEE;
}
.onoffswitch-switch {
  display: block;
  width: 37px;
  background-color: #00CC00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  border: 2px solid #FFFFFF !important;
  border-radius: 50px !important;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 71px;
  background-color: #A1A1A1;
}
.result_header {
  margin-bottom: 5px;
  margin-top: 20px;
}
.result_header .favicon {
  margin-bottom: -3px;
}
.result_header a {
  vertical-align: bottom;
}
.result_header a .highlight {
  font-weight: bold;
}
.result-content {
  margin-top: 5px;
  word-wrap: break-word;
}
.result-content .highlight {
  font-weight: bold;
}
.result-default {
  clear: both;
}
.result-images {
  float: left !important;
  height: 138px;
}
.img-thumbnail {
  margin: 5px;
  max-height: 128px;
}
.result-videos {
  clear: both;
}
.result-torrents {
  clear: both;
}
.result-map {
  clear: both;
}
.result-code {
  clear: both;
}
.suggestion_item {
  margin: 2px 5px;
  max-width: 100%;
}
.suggestion_item .btn {
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}
.result_download {
  margin-right: 5px;
}
#pagination {
  margin-top: 30px;
  padding-bottom: 50px;
}
.label-default {
  color: #AAA;
  background: #FFF;
}
.result .text-muted small {
  word-wrap: break-word;
}
.modal-wrapper {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
}
.infobox img {
  max-height: 250px;
}
.infobox .infobox_part {
  margin-bottom: 20px;
  word-wrap: break-word;
  table-layout: fixed;
}
.infobox .infobox_part:last-child {
  margin-bottom: 0;
}
.infobox .header_url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.infobox .infobox_toggle {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}
.infobox .infobox_checkbox ~ .infobox_body {
  max-height: 300px;
  overflow: hidden;
}
.infobox .infobox_checkbox:checked ~ .infobox_body {
  max-height: none;
}
.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_down {
  display: block;
}
.infobox .infobox_checkbox ~ .infobox_toggle .infobox_label_up {
  display: none;
}
.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_up {
  display: block;
}
.infobox .infobox_checkbox:checked ~ .infobox_toggle .infobox_label_down {
  display: none;
}
.infobox .infobox_checkbox ~ .infobox_body img.infobox_part {
  display: none;
}
.infobox .infobox_checkbox:checked ~ .infobox_body img.infobox_part {
  display: block;
}
.search_categories,
#categories {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.search_categories label,
#categories label,
.search_categories .input-group-addon,
#categories .input-group-addon {
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1.3rem;
  font-weight: normal;
  background-color: white;
  border: #DDD 1px solid;
  border-right: none;
  color: #333;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  text-align: center;
  min-width: 50px;
}
.search_categories label:last-child,
#categories label:last-child,
.search_categories .input-group-addon:last-child,
#categories .input-group-addon:last-child {
  border-right: #DDD 1px solid;
}
.search_categories input[type="checkbox"]:checked + label,
#categories input[type="checkbox"]:checked + label {
  color: black;
  font-weight: bold;
  background-color: #EEE;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}
#advanced-search-container {
  display: none;
  text-align: center;
  margin-bottom: 1rem;
  clear: both;
}
#advanced-search-container label,
#advanced-search-container .input-group-addon {
  font-size: 1.3rem;
  font-weight: normal;
  background-color: white;
  border: #DDD 1px solid;
  border-right: none;
  color: #333;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
#advanced-search-container label:last-child,
#advanced-search-container .input-group-addon:last-child {
  border-right: #DDD 1px solid;
}
#advanced-search-container input[type="radio"] {
  display: none;
}
#advanced-search-container input[type="radio"]:checked + label {
  color: black;
  font-weight: bold;
  background-color: #EEE;
}
#check-advanced {
  display: none;
}
#check-advanced:checked ~ #advanced-search-container {
  display: block;
}
.advanced {
  padding: 0;
  margin-top: 0.3rem;
  text-align: right;
}
.advanced label,
.advanced select {
  cursor: pointer;
}
.cursor-text {
  cursor: text !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #f8f8f8;
}
.highlight .c {
  color: #408080;
  font-style: italic;
}
/* Comment */
.highlight .err {
  border: 1px solid #ff0000;
}
/* Error */
.highlight .k {
  color: #008000;
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  color: #666666;
}
/* Operator */
.highlight .cm {
  color: #408080;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #bc7a00;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #408080;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #408080;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #a00000;
}
/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #ff0000;
}
/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.highlight .gi {
  color: #00a000;
}
/* Generic.Inserted */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #0044dd;
}
/* Generic.Traceback */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #008000;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #b00040;
}
/* Keyword.Type */
.highlight .m {
  color: #666666;
}
/* Literal.Number */
.highlight .s {
  color: #ba2121;
}
/* Literal.String */
.highlight .na {
  color: #7d9029;
}
/* Name.Attribute */
.highlight .nb {
  color: #008000;
}
/* Name.Builtin */
.highlight .nc {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #880000;
}
/* Name.Constant */
.highlight .nd {
  color: #aa22ff;
}
/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #0000ff;
}
/* Name.Function */
.highlight .nl {
  color: #a0a000;
}
/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold;
}
/* Name.Tag */
.highlight .nv {
  color: #19177c;
}
/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #666666;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #666666;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #666666;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #666666;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #ba2121;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #ba2121;
}
/* Literal.String.Char */
.highlight .sd {
  color: #BA2121;
  font-style: italic;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #ba2121;
}
/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #ba2121;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #008000;
}
/* Literal.String.Other */
.highlight .sr {
  color: #bb6688;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #ba2121;
}
/* Literal.String.Single */
.highlight .ss {
  color: #19177c;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #008000;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #19177c;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #19177c;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #19177c;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #666666;
}
/* Literal.Number.Integer.Long */
.highlight .lineno {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.highlight .lineno::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}
.highlight .lineno::-moz-selection {
  background: transparent;
  /* Gecko Browsers */
}
.searx-navbar {
  background: #eee;
  color: #aaa;
  height: 2.3rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}
.searx-navbar a,
.searx-navbar a:hover {
  margin-right: 2.0rem;
  text-decoration: none;
}
.searx-navbar .instance a {
  color: #444;
  margin-left: 2.0rem;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  vertical-align: middle !important;
}
